<section class="lab-section" id="labs">

  <div class="header">
    <h1 class="lab-title">Laboratory Services</h1>
    <p class="lab-subtitle">Accurate and fast diagnostic testing</p>
  </div>

  <mat-tab-group>

    <!-- BLOOD TESTS -->
    <mat-tab label="Blood Tests">
      <div class="grid">
        <mat-card class="lab-card"
          *ngFor="let s of labServices.filter(x => x.category === 'blood')">

          <mat-card-title>{{ s.name }}</mat-card-title>

          <mat-card-content>
            <p>{{ s.description }}</p>
          </mat-card-content>

        </mat-card>
      </div>
    </mat-tab>

    <!-- URINE TESTS -->
    <mat-tab label="Urine Tests">
      <div class="grid">
        <mat-card class="lab-card"
          *ngFor="let s of labServices.filter(x => x.category === 'urine')">

          <mat-card-title>{{ s.name }}</mat-card-title>

          <mat-card-content>
            <p>{{ s.description }}</p>
          </mat-card-content>

        </mat-card>
      </div>
    </mat-tab>

    <!-- STOOL TESTS -->
    <mat-tab label="Stool Tests">
      <div class="grid">
        <mat-card class="lab-card"
          *ngFor="let s of labServices.filter(x => x.category === 'stool')">

          <mat-card-title>{{ s.name }}</mat-card-title>

          <mat-card-content>
            <p>{{ s.description }}</p>
          </mat-card-content>

        </mat-card>
      </div>
    </mat-tab>

  </mat-tab-group>

</section> 